EIO:CFG_1.0:6:1::
#
EIO_SIGNAL:

      -Name "start" -SignalType "DO"

      -Name "Pick_Sensor" -SignalType "DI"

      -Name "Pick_Pick" -SignalType "DO"

      -Name "Piece_OK" -SignalType "DO"

      -Name "Run" -SignalType "DI"

      -Name "OK_NOK" -SignalType "AO" -MaxLog 100

      -Name "NOK_move" -SignalType "DO"

      -Name "NOK_hide" -SignalType "DO"

      -Name "Dequeue" -SignalType "DO"

      -Name "Tray_Sensorend" -SignalType "DI"

      -Name "Trayfilling" -SignalType "DO"

      -Name "Tray_Out" -SignalType "DO"

      -Name "Tray_Full" -SignalType "DO"

      -Name "Tray_Sensorinit" -SignalType "DI"

      -Name "EoC_press" -SignalType "DO"

      -Name "NextTray" -SignalType "DI"

      -Name "Tray_Sensor1" -SignalType "DI"

      -Name "Tray_Sensor2" -SignalType "DI"

      -Name "Tray_Sensor3" -SignalType "DI"

      -Name "Tray_move" -SignalType "DO"

      -Name "Tray" -SignalType "DI"

      -Name "Piece_Full" -SignalType "DO"

      -Name "Enqueue" -SignalType "DO"

      -Name "Tray_Dequeue" -SignalType "DO"

      -Name "Activate_Gripper" -SignalType "DO"

      -Name "Gripper_Opened" -SignalType "DI"

      -Name "Gripper_Closed" -SignalType "DI"

      -Name "Light_InitCond" -SignalType "DO"

      -Name "Light_Normal" -SignalType "DO"

      -Name "Light_EndBatch" -SignalType "DO"

      -Name "Light_Emer" -SignalType "DO"

      -Name "Light_40" -SignalType "DO"

      -Name "Light_60" -SignalType "DO"

      -Name "Light_80" -SignalType "DO"

      -Name "Light_100" -SignalType "DO"

      -Name "EM" -SignalType "DI"

      -Name "EoC" -SignalType "DI"

      -Name "Rearm" -SignalType "DI"

      -Name "QStop" -SignalType "DI"

      -Name "Tray_Light" -SignalType "GI" -Size 5

      -Name "Light_State" -SignalType "GI" -Size 5

      -Name "Tray_Hole" -SignalType "GI" -Size 7

      -Name "Tray_Left" -SignalType "GI" -Size 6

      -Name "Move_Piece_Conveyor" -SignalType "DI"

      -Name "Move_Tray_Conveyor" -SignalType "DI"

      -Name "Move_Tray_Conveyor_Exit" -SignalType "DI"

      -Name "OK_Piece" -SignalType "DI"

      -Name "NOK_Piece" -SignalType "DI"

      -Name "Pick_" -SignalType "DI"

      -Name "Scan" -SignalType "DI"

      -Name "Pick_Done" -SignalType "DO"

      -Name "Scan_Done" -SignalType "DO"

      -Name "Piece_Tray_Done" -SignalType "DO"

      -Name "Piece_Bin_Done" -SignalType "DO"

      -Name "Piece_Tray" -SignalType "GI" -Size 7

      -Name "EndofCycle" -SignalType "DO"

      -Name "OKVIEW" -SignalType "DO"

      -Name "NOKVIEW" -SignalType "DO"
